<%- include('header'); -%>
<div class='contacts'>
    <h1>Contact Us</h1>
    <h2>Manager:</h2> <p>Sophie</p>
    <h2>Address:</h2> <address>2268 Lyon Avenue,Framingham,MA</address>
    <h2>Phone:</h2> <p>508-918-2346</p>
    <h2>Email:</h2> <p>sophieB@bestwebstore.us</p>
    <h1></h1>
</div>
<%- include('footer'); -%>