<%- include('header'); -%>
<h1>login</h1>
<form method="get" action="/api/login">
    <h3>Username:</h3>
    <input type="text" name="usrname" placeholder="Enter your username"><br>
    <h3>Password</h3>
    <input type="password" name="usrpass" placeholder="Enter your password"><br>
    <br>
    <button>login</button>
    <br>
    <br>
</form>
<p>No account ? <a href="/register">register here.</a></p>
<br>
<%- include('footer'); -%>