<%- include('header'); -%>
<h1>Login</h1>
<h2>username:</h2> <input type="text">
<h2>password:</h2> <input type="password">
<h2></h2>
<input type="button" value="login">
<h3>no account <a>register here</a>.</h3>
<h1></h1>
<%- include('footer'); -%>