<%- include('header'); -%>
<h1>login</h1>
<form method="POST" action="/api/login">
    <label>Username</label><br>
    <input type="text" name="username" placeholder="Enter your username"><br>
    <label>Password</label><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <br>
    <button>login</button>
    <br>
    <br>
</form>
<p>No account ? <a href="/register">register here.</a></p>
<br>
<%- include('footer'); -%>