<%- include('header'); -%>
<form method="POST" action="/api/register">
    <h3>Society</h3>
    <input type="text" placeholder="Enter your society ">

    <h3>Contact Name</h3>
    <input type="text" placeholder="Enter your contact name">

    <h3>address</h3>
    <input type="text" placeholder="Enter your address">

    <h3>zipcode</h3>
    <input type="text" placeholder="Enter your zipcode">

    <h3>city</h3>
    <input type="text" placeholder="Enter your city">

    <h3>phone</h3>
    <input type="tel" placeholder="Enter your phone number">

    <h3>fax</h3>
    <input type="tel" placeholder="Enter your fax number">

    <h3>Informations</h3>
    <input type="text" placeholder=""><br><br>

    <button>register</button>
    <br>
    <br>
</form>
<%- include('footer'); -%>