<%- include('header'); -%>
<h1>register</h1>
<h2>society:</h2> <input type="text">
<h2>Contact name:</h2> <input type="text">
<h2>password:</h2> <input type="password">
<h2>phone number:</h2> <input type="text">
<h2>fax:</h2> <input type="text">
<h2>city:</h2> <input type="text">
<h2>address:</h2> <input type="text">
<h2>zipcode:</h2> <input type="text">
<h1></h1>
<input id="reg" type="button" value="register">
<h1></h1>
<script></script>
<%- include('footer'); -%>